/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.08.2017, 20:34:21
    Author     : Alex
*/

@font-face {
    font-family: 'Tangerine';
    src: url('../fonts/Tangerine/Tangerine-Regular.ttf');
}
@font-face {
    font-family: 'Norican';
    src: url('../fonts/Norican-Regular.ttf');
}
@font-face {
    font-family: 'Molle';
    src: url('../fonts/Molle-Regular.ttf');
}
@font-face {
    font-family: 'Damion';
    src: url('../fonts/Damion-Regular.ttf');
}


